{% extends 'blogs/base.html' %}
{% block title %}Register - My Blog{% endblock %}
{% block content %}
    <h2 class="text-center mb-4 animate-in">Register</h2>
    <form method="post" class="mt-4 mx-auto" style="max-width: 400px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
    </form>
    <p class="text-center mt-3">Already have an account? <a href="{% url 'blogs:login' %}">Login here</a>.</p>
{% endblock %}
